head
  meta(charset="utf-8")
  title Cake Vegan Cake  
  meta(name="description" content="Cake Vegan Cake – Cruelty-free candies")
  meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")

  link(rel='apple-touch-icon', sizes='57x57', href='/images/favicons/apple-icon-57x57.png?123')
  link(rel='apple-touch-icon', sizes='60x60', href='/images/favicons/apple-icon-60x60.png?123')
  link(rel='apple-touch-icon', sizes='72x72', href='/images/favicons/apple-icon-72x72.png?123')
  link(rel='apple-touch-icon', sizes='76x76', href='/images/favicons/apple-icon-76x76.png?123')
  link(rel='apple-touch-icon', sizes='114x114', href='/images/favicons/apple-icon-114x114.png?123')
  link(rel='apple-touch-icon', sizes='120x120', href='/images/favicons/apple-icon-120x120.png?123')
  link(rel='apple-touch-icon', sizes='144x144', href='/images/favicons/apple-icon-144x144.png?123')
  link(rel='apple-touch-icon', sizes='152x152', href='/images/favicons/apple-icon-152x152.png?123')
  link(rel='apple-touch-icon', sizes='180x180', href='/images/favicons/apple-icon-180x180.png?123')
  link(rel='icon', type='image.png?123', sizes='192x192', href='/images/favicons/android-icon-192x192.png?123')
  link(rel='icon', type='image.png?123', sizes='32x32', href='/images/favicons/favicon-32x32.png?123')
  link(rel='icon', type='image.png?123', sizes='96x96', href='/images/favicons/favicon-96x96.png?123')
  link(rel='icon', type='image.png?123', sizes='16x16', href='/images/favicons/favicon-16x16.png?123')
  link(rel='manifest', href='/images/favicons/manifest.json')
  meta(name='msapplication-TileColor', content='#A9191D')
  meta(name='msapplication-TileImage', content='/images/favicons/ms-icon-144x144.png?123')
  meta(name='theme-color', content='#A9191D')
