template(name="invoice")
  .invoice-layout
    .container 
      h1  Cake Vegan Cake
      .swirl
      #pedidos.responsive-table
        table.table.table-stripped.table-hover
          thead
            tr
              th #
              th Produto
              th Quantidade
              th Valor
          tbody
            tr
              th(scope="row") 1
              td Pizza
              td 10
              td R$ 15,00
            tr
              th(scope="row") 2
              td Pizza
              td 10
              td R$ 15,00
            tr
              th(scope="row") 3
              td Pizza
              td 10
              td R$ 15,00
      #info
        h3 Valor Total: R$ 232,00
        h4 Olá <strong>João</strong>, preencha abaixo para finalizar seu pedido:
      +cc
      .btn-submit
        input.btn.btn-primary(type="submit" value="Confirmar pagamento")
    #thecake.visible-lg-block
